@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-a-white: #f0f0f0;
    --color-a-black: #1e1c1d;
    --color-a-pink: #c693e5;
  }
}

:root {
  font-family: 'Inter';
  background-color: var(--color-a-white);
}

h2 {
  font-family: 'Hubot Sans';
  font-weight: 900;
  font-stretch: ultra-expanded;
  line-height: 3rem;
}
