@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   :root {
        --color-a-white: #F0F0F0;
        --color-a-black: #1E1C1D;
        --color-a-pink: #C693E5;
   }
}

:root {
    background-color: var(--color-a-white);
    font-family: 'Inter';
}

h1 {
    font-family: 'Hubot Sans';
    font-weight: 900;
    font-stretch: 125%;
    line-height: 3rem;
}